<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net8.0-windows10.0.19041.0</TargetFramework>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishDir>bin\win-x64\publish\</PublishDir>
    <SelfContained>true</SelfContained>
    <Configuration>Release</Configuration>
    <PublishSingleFile>false</PublishSingleFile>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <!-- 提升运行速度，大幅增加生成大小 -->
    <PublishReadyToRun>false</PublishReadyToRun>
    <!-- 使用裁剪 -->
    <PublishTrimmed>true</PublishTrimmed>
    <TrimMode>partial</TrimMode>
    <TrimmerRemoveSymbols>true</TrimmerRemoveSymbols>
    <!-- 测试项 -->
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
  </PropertyGroup>
	
  <Target Name="RemoveFoldersWithMuiFiles" AfterTargets="Publish">
    <ItemGroup>
      <RemovingFiles Include="$(PublishDir)**\*.mui" Exclude="$(PublishDir)zh-cn\*.mui;$(PublishDir)en-us\*.mui" />
      <RemovingFolders Include="@(RemovingFiles->'%(RootDir)%(Directory)')" />
    </ItemGroup>
    <RemoveDir Directories="@(RemovingFolders)" />
  </Target>
	
</Project>